<!doctype html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review App</title>
    <link th:if="${mode == 'development'}" rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <link th:if="${mode == 'production'}" rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>

    <script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/items.controller.js" th:src="@{/app/items.controller.js}"></script>

</head>
<body ng-app="app" ng-controller="ItemsController as vm">
<header style="position: relative; left: 0; top: 0; width: 100%; background-color: #5a6268;">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a class="navbar-brand" href="#">Review App</a>
            </div>
            <p class="navbar-text" th:text="'Signed in as '+${username}" style="margin-right: 10px;">Signed in as Anonymus</p>
        </div>
    </nav>
</header>
<div style="position: relative">
    <div class="row">
        <div class="col-lg-auto offset-2 align-content-center">
            <a href="/create">Vytvořit položku</a>
            <div class="btn-group" role="group">
                <button ng-click="vm.getAll()" type="button" class="btn">Všechny</button>
                <button ng-click="vm.getGenreRock()" type="button" class="btn btn-light">Rock</button>
                <button ng-click="vm.getGenrePop()" type="button" class="btn btn-light">Pop</button>
                <button ng-click="vm.getGenreHipHop()" type="button" class="btn btn-light">Hip-Hop</button>
                <button ng-click="vm.getGenreClassical()" type="button" class="btn btn-light">Klasická hudba</button>
                <button ng-click="vm.getGenreMetal()" type="button" class="btn btn-light">Metal</button>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Položka</th>
                    <th>Autor</th>
                    <th>Typ</th>
                    <th>Žánr</th>
                    <th>Rok</th>
                    <th>Popis</th>
                    <th style="width: 90px"></th>
                    <th style="width: 90px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.items">
                    <td>{{item.name}}</td>
                    <td>{{item.author}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.genre}}</td>
                    <td>{{item.year}}</td>
                    <td>{{item.textShort}}</td>
                    <td>
                        <a href="/item/{{item.id}}">Detail</a>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="vm.deleteItem(item.id)">Odstranit</button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<footer class="blockquote-footer" style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: #5a6268;">
    <div class="container">
        <p class="text-muted" th:text="${#dates.format(datetime,'dd MMM yyyy HH:mm')}">Page was rendered today.</p>
    </div>
</footer>
</body>
</html>